extends layout 

block content 

  h1 #{vgconsole.name} 
  
  div 
    h3 Release Date: 
    div.release #{vgconsole.release_formatted} 

    h3 About 
    div.about #{vgconsole.about} 

    h3 Games 
    ul
      each game in console_games 
        li
          div 
            div #{game.name} 
            div #{game.release} 
            div #{game.about} 
      else 
        div There are no games in stock for this console

  hr
  p
    a(href=vgconsole.url+'/delete') Delete console
  p 
    a(href=vgconsole.url+'/update') Update console info