extends layout 

block content 
  h1 #{title}: #{game.name} 

  if game_instances.length 

    p #[strong Delete the following game listings before attempting to delete this game.] 

    div 

      h4 Games 

      dl 
      each item in game_instances
        dt 
          a(href=item.url) #{game.name} - #{item.condition}

  else 
    p Do you really want to delete this Game? 

    form(method='POST' action='') 
      div.form-group 
        input#gameid.form-control(type='hidden' name='gameid' required='true' value=game._id)

      button.btn(type='submit')