extends layout 

block content 
  h1= title

  h4 Release date
  div #{game.release_formatted}

  h4 Studio 
  if game.studio 
    div #{game.studio.name} 
  else 
    div No studio info available

  h4 Console 
  if game.console 
    div #{game.console.name} 
  else 
    div No console info available 
  
  h4 About 
  div #{game.about}

  h4 Copies for sale 
  ul 
    each item in game_instances 
      li
        a(href=item.url) #{game.name} - #{item.condition} 
    else 
      li There are no copies of this game available.

  div 
    a(href=game.url+'/delete') Delete game